<% var title = "TOP"; var description = "トップのdescription"; %> <% include
src/ejs/template/_head %>

<h1>トップページへようこそ！！</h1>
<a href="/about">to about</a>
<div class="p-home-bg"></div>
<div class="p-home-grid"></div>

<% include src/ejs/template/_footer %>
