<% var title = "ABOUT"; var description = "アバウトページのdescription"; %> <%
include src/ejs/template/_head %>

<!-- prettier-ignore -->
<h1>
  アバウトページへようこそ！！efmoemfoimeiofmeirfoerof eropfkeropkfeprkfeprkfeoprf
</h1>
<a href="/">to top</a>

<% include src/ejs/template/_footer %>
